body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: blue; */
    /* color: red; */
    font-size: small;
}
header,
footer > .section1 {
    background-color: black;
    color: white;
    padding: 10px 0;
}
header > nav {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h3, h5 {
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: white;
}
header > nav > ul {
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 5px;
    /* text-decoration: none; */
}

header > nav > ul > li > a {
    padding: 2px;
    /* column-gap: 50px;
    row-gap: 20px; */
    /* padding-left: 5%; */
}
main > section {
    height: 300px;
}
.mainsection2 > div,
.mainsection1,
.mainsection3 > div,
.mainsection4 > div {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

}

.mainsection1 > div,
.mainsection2 > div > div,
.mainsection3 > div > div {
    /* border: 1px solid; */
    max-width: 300px;
    max-height: 300px;
    /* text-align: center; */
}

.mainsection2,
.mainsection4 {
    background-color: rgb(236, 235, 235);
    padding: 10px;
    border-bottom: 1px solid gray;
}
.mainsection4 > div {
    font-size: 12px;
}
.mainsection3 > div > div {
    background-color:  rgb(236, 235, 235);
    margin: 35px 10px;
    padding: 10px;
    border-radius: 10px;

}

.mainsection4 > div > div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
img[src="photo_profil.jpg"]{
    border-radius: 100px;
}
button {
    border: 1px solid rgb(120, 176, 248);
    border-radius: 5px;
    height: 26px;
    background-color: rgb(120, 176, 248);
    color: white;
}
.mainsection1 > div > a,
.mainsection2 > div > div > a {
    border: 1px solid rgb(120, 176, 248);
    border-radius: 5px;
    /* height: 50px; */
    padding: 5px;
    background-color: rgb(120, 176, 248);
    color: white;
}

#apropos, #projets, #competences {
    text-align: center;
}
label  {
    display: block;
}

footer > .section1 > form {
    margin: 0 auto;
    width: 300px;

    /* text-align: center; */
}

footer > .section1 > form > .username {
    display: flex;
    /* align-items: sp; */
    /* border: 1px solid; */
    justify-content: space-between;
}

footer > .section1 > form > .entete,
footer > .section1 > form > .finform {
    text-align: center;
}
footer > .section2 {
    display: flex;
    justify-content: space-between ;
}

